*{
    margin: 0;
    padding: 0;
}

.main{
    width:auto;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./web.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar{
    width:max-content;
    height: 75px;   
    margin-RIGHT: 600px;
}

.icon{
    width: 50px;
    float: left;
    height: 70px;
}

.menu{
    width: 200px;
    float: left;
    height: 70px;
}

ul{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul a{
    margin-left:80px;
    position:relative;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #00008b;
}
.content{
    width: 2000px;
    height: auto;
    margin: auto;
    color: #fff;
    position:relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-left: 200px;

}

.content h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    padding-left: 200px;
    margin-top: 9%;
    letter-spacing: 1px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #fff;
    border: none;
    margin-bottom: 10px;
    margin-left: 200px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #00008b;
}

.content span{
    color: #fff;
    font-size: 65px;
    margin-left: 200px;
}
